.home-panel{
    vertical-align: top; 
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 25;
}

#title{
    text-align: center;
}

#quoteButton{

    vertical-align: bottom
}