.description-label{
    margin-bottom: 25;
}

#quoteText{
    text-align: center;
    font-family: Cambria; 
    margin-left: 20;
    margin-right: 20;
    overflow-wrap: normal; 
     
    
}
#tracyLabel{
    text-align: center;
    font-family: Cambria; 
}

#quoteButton{

    vertical-align: bottom
}

